extends layout

block content
    h1= title

    table.table
        tbody
            tr
                td Code
                td=set.code
            tr
                td Release Date
                td=set.releaseDate

    if set.Printings.length > 0
        a.btn.btn-default(onclick="back()") Back
        table.table
            thead
                tr
                    th Name
                    th Mana Cost
                    th Rarity
            tbody
                each printing in set.Printings
                    tr
                        td #{printing.Card.name}
                        td !{utils.magicify(printing.Card.manaCost)}
                        td
                            .ss(class="ss-#{set.code.toLowerCase()} rarity-#{printing.Rarity.description}")
    else
        p No cards exists for this set

    a.btn.btn-default(onclick="back()") Back

    div #{JSON.stringify(set)}
