extends layout

block content
    h1= title

    if sets.length > 0
        table.table.set
            thead
                tr
                    th
                    th Name
                    th Code
                    th Release Date
                    th Cards
                    th
            tbody
                each set in sets
                    tr.clickable(data-href="/admin/set/#{set.setid}")
                        td
                            .ss.ss-large(class="ss-#{set.code.toLowerCase()}")
                        td #{set.name}
                        td #{set.code}
                        td #{set.releaseDate}
                        td
                            p / #{set.numberOfCards}
                        td
                            a(href="/admin/set/#{set.setid}")
                                .glyphicon.glyphicon-edit
    else
        p No sets have been added yet

    a.btn.btn-primary(href="/admin/set/import") Import Set