extends layout

block content
    h1=title
    label(for'query') Query
    pre#query=JSON.stringify(query, null, 2)
    if results.length > 0
        a.btn.btn-default(onclick="back()") Back
        table.table
            thead
                tr
                    th Name
                    th Mana Cost
                    th Oracle Text
            tbody
                each card in results
                    tr
                        td.name #{card.name}
                        td.mana-cost !{utils.magicify(card.manaCost)}
                        td.oracle-text !{utils.magicify(card.text)}
    else
        p No matching results found. Try searching again with different or fewer parameters.
    a.btn.btn-default(onclick="back()") Back