extends layout
include partials/paginator

block content
    h1=title
    p Your search critera returned #{count} cards.
    if process.env.DEVELOPMENT === 'true'
        label(for'query') Query
        pre#query=JSON.stringify({where: where, order: order, limit: limit, offset: offset, pages: pages}, null, 2)
    if results && results.length > 0
        +paginator('results','search', pages, page)
        table.table
            thead
                tr
                    th image
                    th Name
                    th Mana Cost
                    th Type
                    th Power
                    th Toughness
                    th Oracle Text
            tbody
                each card in results
                    tr
                        td.image
                            img.image
                        td.name #{card.name}
                        td.mana-cost !{utils.magicify(card.manaCost)}
                        td.type #{card.formattedType}
                        td.power #{card.power}
                        td.toughness #{card.toughness}
                        td.oracle-text !{utils.magicify(card.text)}
        +paginator('results','search', pages, page)
    else
        p No matching results found. Try searching again with different or fewer parameters.
        .btn-toolbar
            a.btn.btn-default(onclick='back()') Back