extends layout
include partials/paginator

block content
    h1=title
    p Your search critera returned #{count} cards.
    if process.env.DEVELOPMENT === 'true'
        label(for'query') Query
        pre#query=JSON.stringify({where: where, order: order, limit: limit, offset: offset, pages: pages}, null, 2)
    if results && results.length > 0
        +paginator('results','search', pages, page)
        table.table
            thead
                tr
                    th
                    th Name
                    th Mana Cost
                    th Type
                    th Power
                    th Toughness
                    th Oracle Text
            tbody
                each card in results
                    tr
                        td
                            img.image(class='#{card.Layout.description === "plane" || card.Layout.description === "scheme" ? "image-landscape" : "image-portrait"}' data-src="#{card.Printings[0].image}")
                        td
                            .name #{card.name}
                        td
                            .mana-cost !{utils.magicify(card.manaCost)}
                        td
                            .type #{card.formattedType}
                        td
                            .power #{card.power}
                        td
                            .toughness #{card.toughness}
                        td
                            .oracle-text !{utils.magicify(card.text)}
        +paginator('results','search', pages, page)
    else
        p No matching results found. Try searching again with different or fewer parameters.
        .btn-toolbar
            a.btn.btn-default(onclick='back()') Back
    script(type='text/javascript').
        $('.image').error(function () {
            $(this).attr('src', '#{process.env.IMAGES_PATH}0.jpg');
        }).each(
                function () {
                    var image = $(this);
                    image.attr('src', image.data('src'));
                }
        );